statemachine/decreaser.asl.json
{
  "Comment": "Decreace target aurora serverles min-capacity to '0.5'",
  "StartAt": "DescribeDBClusters",
  "States": {
    "DescribeDBClusters": {
      "Type": "Task",
      "Parameters": {
        "DbClusterIdentifier.$": "$.detail.SourceIdentifier"
      },
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Next": "Choice",
      "ResultSelector": {
        "DbClusterIdentifier.$": "$.DbClusters[0].DbClusterIdentifier",
        "DbClusterMemberCount.$": "States.ArrayLength($.DbClusters[0].DbClusterMembers)",
        "ServerlessV2ScalingConfiguration.$": "$.DbClusters[0].ServerlessV2ScalingConfiguration"
      }
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ServerlessV2ScalingConfiguration",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.ServerlessV2ScalingConfiguration.MinCapacity",
                "NumericEquals": 0.5
              }
            }
          ],
          "Next": "SNS Publish"
        }
      ],
      "Default": "NotTargetClusterPass"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "${SnsTopicArn}"
      },
      "Next": "HasInstance?",
      "ResultPath": null
    },
    "HasInstance?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DbClusterMemberCount",
          "NumericEquals": 0,
          "Next": "ModifyDBCluster"
        }
      ],
      "Default": "DescribeDBInstances"
    },
    "DescribeDBInstances": {
      "Type": "Task",
      "Parameters": {
        "Filters": [
          {
            "Name": "db-cluster-id",
            "Values.$": "States.Array($.DbClusterIdentifier)"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:docdb:describeDBInstances",
      "Next": "ConvertResultInstancesResult",
      "ResultPath": "$.DbInstances"
    },
    "ConvertResultInstancesResult": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "ConvertDescribeInstance",
        "States": {
          "ConvertDescribeInstance": {
            "Type": "Pass",
            "End": true,
            "OutputPath": "$.DbInstanceStatus"
          }
        }
      },
      "Next": "AllAvailable?",
      "ResultSelector": {
        "StatusLen.$": "States.ArrayLength(States.ArrayUnique($))",
        "Status.$": "States.ArrayUnique($)"
      },
      "ItemsPath": "$.DbInstances.DbInstances",
      "ResultPath": "$.InstancesStatus"
    },
    "AllAvailable?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.InstancesStatus.StatusLen",
              "NumericEquals": 1
            },
            {
              "Variable": "$.InstancesStatus.Status[0]",
              "StringEquals": "available"
            }
          ],
          "Next": "ModifyDBCluster"
        }
      ],
      "Default": "Wait"
    },
    "ModifyDBCluster": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier",
        "ServerlessV2ScalingConfiguration": {
          "MinCapacity": 0.5,
          "MaxCapacity.$": "$.ServerlessV2ScalingConfiguration.MaxCapacity"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBCluster"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 600,
      "Next": "DescribeDBInstances"
    },
    "NotTargetClusterPass": {
      "Type": "Pass",
      "End": true
    }
  }
}